.text-center{
  text-align: center;
}
.bg-yellow{
  background-color: yellow;
}

.mx-auto{
  margin: auto;
}
.m-w-15{
  max-width: 15vw
}

.flex{
  display: flex;
}

.flex-col{
  flex-direction:column;
  
}

.items-center{
  align-items: center;
}
